<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prjAula1.Properties.Settings.strConexao" connectionString="workstation id=JukaBanks-M.mssql.somee.com;packet size=4096;user id=Matiooo_SQLLogin_1;pwd=i15btz2o3p;data source=JukaBanks-M.mssql.somee.com;persist security info=False;initial catalog=JukaBanks-M" />
    </connectionStrings>
</configuration>